<app-form (addQuote)="generateQuote($event)"></app-form>

<ul *ngFor = 'let quote of quotes; let i = index'>
    <div *ngIf="quote.upvotes== highest && quote.upvotes > 0; then highlight else empty"></div>
    <ng-template #highlight>
        <li appHighlight>
            {{ quote.quote }} <br> 
            <span><strong>Author:</strong> {{ quote.author }}</span> <br>
            <span><strong>Publisher:</strong> {{ quote.publisher }}</span> <br>
            <button (click)="adder(i)">Upvotes</button>{{ quote.upvotes }}
            <button (click)="compiler(i)">Downvotes</button> {{ quote.downvotes }}
        </li>
    </ng-template>
    <ng-template #empty >
        <li>
            {{ quote.quote }} <br> 
            <span><strong>Author:</strong> {{ quote.author }}</span> <br>
            <span><strong>Publisher:</strong> {{ quote.publisher }}</span> <br>
            <button (click)="adder(i)">Upvotes</button>{{ quote.upvotes }}
            <button (click)="compiler(i)">Downvotes</button> {{ quote.downvotes }}
        </li>
    </ng-template>
</ul>
